@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype'); /*Lembre-se de colocar o "..", para que ele encontre a pasta, pois ele precisa voltar uma pasta e abrir fontes*/
    font-weight: normal;
}

:root {
    /*Sempre que colocar variaveis, utilize "--" para iniciar ela, sempre na tag :root*/
    --cor0: #ebe5c5; 
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1a5c37;
    --cor5: #063D1E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;
}

* { /*Quando quiser utilizar a tag "*" (esteristico), você basicamente está criando uma função que sera aplicado em TUDO NO SEU HTML/CSS, e basicamente uma TAG GLOBAL*/
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient( to bottom, var(--cor3), var(--cor4), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header>h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.322);
    font-weight: normal;
}

header>p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px; /*Importante, quando você colocar uma medida de width em uma tag, ela se torna um bloco, logo o comando de centralização de texto, não vai mais funcionar, sendo necessaria recolocar a tag margin auto no proprio tag da função, no caso do "p"*/
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.322);
    padding-bottom: 20px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.199);
}

nav>a {
    text-decoration: none;
    color: var(--cor1);
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.3s; /*Tag utilizada para que quando você coloque o mouse em cima com a tag hover, ele vai ter um pequeno delay para aparecer o efeito, decoração interessante*/
}

nav>a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a.externo::after { /*Lembrando que a tag ::after, fara com que tudo que tiver dentro da tag, ira aparecer na frente do elemento*/
    content: '\00A0\1F517';
}

main h1 { /*Quando usado o espaço, o que for dito para ser executado na tag, vai funcionar em todos os "h1" que estejam nessa tag, diferente do children, que so vai funcionar no "h1" especifico dentro do comando respectivo */
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}


main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em; /*Comando para separar as linhas de um paragrafo, basicamente o espaçamento das linhas.*/
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.5%; /*Isso vai determinar o tamanho interno do video do youtube, assim removendo as bordas pretas das laterais*/
}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    /*Toda essa parte e basicamente para encaixar o video dentro da div antes criada, você cria a div como quiser, e encaixa o video usando essas tags aki*/
}
/*
Uma grande gambiarra pra fazer o video do youtube funcionar, primeiro você vai colocar o video dentro de uma div, e posteriormente mexer no video e na borda de forma separada, usando a tag position relative, voce tem liberdade para mexer na borda, mas com a tag absolute, vc consegue mexer apenas na parte de cima e da esquerda, e usando a porcentagem do tamanho, com a base relativa da caixa da div, chegar numa conclusão

*/


footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > ul {
    list-style-type: '\2714'; /*Comando utilizado para colocar emojis como figura da lista, lembrando de usar o codigo do emoji com uma contra barra "\"*/

    list-style-position: inside; /*Comando novo, com esse comando, a sinalização da lista, no caso a bolinha, vai ficar pra dentro da box, nesse caso da aside*/

    columns: 2; /*Comando novo, para fazer algo ficar em 2 colunas, por isso columns 2 !*/

}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;

    margin: -10px -10px 0px -10px; /*Quando você colocar margem negativa, ela vai vazar pra fora da box que ela está !!1*/

    border-radius: 10px 10px 0px 0px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}